body {padding-top: 10px;background-color: #C0FFFF;}
#title{padding: 20px;font-size: 20px;font-weight: bold;text-align:center;}
#contents{padding: 10px;font-size: 15px;text-align:center;background-color: #C0FFC0;}
